- Gitlab::Tracking.event(body_data_page, 'render',
                         label: 'purchase_confirmation_banner_displayed',
                         user: current_user,
                         namespace: @group)

%section.gl-banner.gl-banner-introduction{ data: { uid: 'purchase_success_banner_dismissed' } }
  .gl-banner-illustration
    = image_tag('illustrations/illustration-congratulation-purchase.svg', alt: _('Successful purchase image'))
  .gl-banner-content.gl-my-auto
    %h3.gl-banner-title= _('Thanks for your purchase!')
    - number_of_users = n_('1 user', '%{num} users', quantity) % { num: quantity }
    %p= _('You have successfully purchased a %{plan} plan subscription for %{seats}. You’ll receive a receipt via email.') % { plan: plan_title, seats: number_of_users }

  %button.gl-banner-close.close.js-close-session.js-close-callout{ type: 'button', 'aria-label' => _('Dismiss') }
    = sprite_icon('close', size: 16, css_class: 'dismiss-icon')
